
/*
	Bootstrap
 */
// Only bootstrap reboot + grid
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";


// Optional
@import "../../node_modules/bootstrap/scss/utilities/spacing";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/custom-forms";


/*
	App
 */
@import "partials/base"; 