input[name="table-selector"] {
	font-family: $font-family-monospace;
}

#output {
	h2 a {
		display:none;
		font-size: $font-size-base;
	}
	> p.no-output {
		font-style: italic;
	}

	&.output-generated {
		h2 a { display: inline; }
		> p.no-output { display:none;  }
	}
		
	.copy-msg {
		display: none;
		color:$green;
		padding-left: 1rem;
	}
	textarea {
		font-family: $font-family-monospace;
	}
}
