.table2csv-form {
	&__table-selector-js {
		font-family: $font-family-monospace;
	}
}


.table2csv-output {
	&--active {
		.table2csv-output__controls { display: block; }
		.table2csv-output__no-output { display: none;  }
	}

	&__controls {
		display: none;
		margin-bottom: 2rem;
	}

	&__clear-btn {
		font-size: $font-size-base;
		margin-right: 1rem;
	}
	&__no-output {
		font-style: italic;
	}
	&__block {}	
	&__result {}
	&__copy-msg {
		display: none;
		color: $green;
		padding-left: 1rem;
	}
	&__csv {
		font-family: $font-family-monospace;
	}
}
